@font-face {
	font-family: Red_October;
	src: url(fonts/Red_October.ttf);
}
@font-face {
	font-family: a_AlternaNr;
	src: url(fonts/a_AlternaNr.ttf);
}
@font-face {
	font-family: RubricaCn;
	src: url(fonts/a_RubricaCn_Bold.ttf);
}

body {
	background-color: #282B30;
	background-image: url(img/index.jpg);
	background-size: 100%;
	font-family: RubricaCn, 'Time News Roman';
}
p {
	line-height: 0.9em;
	margin: 0;
	padding: 0;
}

#video_bg {
	/* Делаем так, чтобы видеофон занимал фиксированное положение. */
	position: fixed;
	top: 0;
	left: 0;
	/* Располагаем наш фон под всем содержимым на странице.
    Для этого используем отрицательный z-index. */
	z-index: -1000;
	/* Растягиваем видео так, чтобы не было видно черных полос и
	чтобы независимо от разрешения экрана видеофон занимал все рабочее пространство. */
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

#logo_name {
	font-family: Red_October, 'Time News Roman';
	text-shadow: black 0 0 16px;
	color: #E03329;
	position: absolute;
	width:400px;
	height:100px;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	margin-top:110px;
	margin-left:350px;
	font-size: 60pt;
	text-align: center;
	
}
#splash {
	text-shadow: white 0 0 4px;
	color:black;
	position: absolute;
	width:1100px;
	height:40px;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	margin-top:210px;
	font-size: 25pt;
	text-align: center;
}
#main-div {
	/*background-color: #383838;*/
	color: black;
	position:absolute;
	width: 1200px;
	height: 640px;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	background-size: 100%;
}

#main-menu {
	top: 50%; left: 0; bottom: 0; right: 0;
	margin: auto;
	margin-top:-30px;
	position: absolute;
	text-align: center;
	width: 300px;
	height: 300px;
}

#room_title {
	font-size: 20pt;
	padding-top:10px;
	height:40px;
	width:600px;
	left:-300px;
	margin:0 50%;
	position:relative;
	text-align: center;
	border:3px solid black;
	border-top:0px;
	border-radius:0 0 10px 10px;
	background-color:#777E76;
	text-shadow: #2A0017 0 0 2px;
}
#room_image {
	height:600px;
	width:100%;
	position:relative;

}
#room_image_padding {
	height:200px;
	width:100%;
	position:relative;
}
#room_textArea {
	height:200px;
	width:100%;
	position:relative;
	text-align: center;
}
#actualText {
	display: table-cell; 
	vertical-align: middle;
	height:200px;
	width:930px;
	position:absolute;
	left:4px;
	overflow-y: auto;
	font-size: 18pt;
	font-weight:bold;
	color:black;
	text-align: center;
}
#actualText_back {
	height:200px;
	width:930px;
	position:absolute;
	background-color: #777E76;
	opacity: 0.6;
	border-radius:0 10px 10px 0;
}
#playerStatus {
	height:200px;
	width:200px;
	position:absolute;
	top:0px;
	right:4px;
	text-align: center;
	font-size: 16pt;
}
#playerStatus_back {
	height:200px;
	width:200px;
	position:absolute;
	top:0px;
	right:0px;
	background-color: #777E76;
	opacity: 0.6;
	border-radius:10px 0 0 10px;
}
#room_actions {
	height:200px;
	width:100%;
	position:relative;
}
#playerActions {
	height:200px;
	width:800px;
	position:absolute;
	left:5px;
	padding: 4px;
}
#roomActions {
	height:200px;
	width:300px;
	position:absolute;
	left:325px;
}
#playerItems {
	height:200px;
	width:300px;
	position:absolute;
	right:4px;
}
#cmd {
	position: absolute;
	top:143px;
	width: 1193px;
	height: 30px;
	font-size: 15pt;
	margin: 0px;
	padding-left:7px;
	padding-top:7px;
	background-color: #46485E;
}

#system_menu {
	position:absolute;
	top:-5px;
	left:15px;
	z-index:100;
	width:32px;
	height:32px;
	display:block;
	list-style:none;
	background-image:url(img/setting.png);
	background-size: 100%;
}
li {
	display: none;
	white-space: nowrap;
	float:left;
	position:relative;
	left:-5px;
	top:-5px;
}
li a {
	color: black;
	text-decoration: none;
}
#system_menu:hover > li{
	display:block;
}
.pre {
	border: 1px solid black;
	/*color:black;*/
}
.button {
	font-size: 18pt;
	padding: 4px;
	cursor: pointer;
	text-align: center;
	background-color: #726A68;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
	font-family: RubricaCn, 'Time News Roman';
}
.button_flaged {
	font-size: 15pt;
	padding: 4px;
	cursor: pointer;
	text-align: center;
	background-color: #5d0000;
	color: black;
	border: 1px solid red;
	border-radius: 5px;
}
.button:hover {
	background-color: gray;
}

.a_button:link {
    text-decoration: none;
}
.a_button:visited {
	text-decoration: none; 
}
.a_button:active { 
	text-decoration: none; 
}
.a_button:hover {
	text-decoration: none; 
	color: red;	
}
