body {
background-color: #015367;
}
p {
line-height: 0.9em;
margin: 0;
padding: 0;
}

#main-div {
background-color: #002920;
color: black;
position:absolute;
width: 1200px;
height: 640px;
top: 0; left: 0; bottom: 0; right: 0;
margin: auto;
}

#main-menu {
	top: 50%; left: 0; bottom: 0; right: 0;
	margin: auto;
	margin-top:-150px;
	position: absolute;
	text-align: center;
	width: 300px;
	height: 300px;
}

#room_title {
	height:40px;
	width:100%;
	position:relative;
	text-align: center;
}
#room_image {
	height:600px;
	width:100%;
	position:relative;
	background-size: 100%;
}
#room_image_padding {
	height:200px;
	width:100%;
	position:relative;
}
#room_textArea {
	height:200px;
	width:100%;
	position:relative;
	text-align: center;
}
#actualText {
	display: table-cell; 
	vertical-align: middle;
	height:200px;
	width:930px;
	position:absolute;
	left:4px;
	overflow-y: auto;
	font-size: 14pt;
	font-weight:bold;
	color:black;
	/*text-align: center;*/
}
#actualText_back {
	height:200px;
	width:930px;
	position:absolute;
	left:4px;
	background-color:white;
	opacity: 0.5;
}
#playerStatus {
	height:200px;
	width:200px;
	position:absolute;
	top:0px;
	right:4px;
	text-align: center;
}
#playerStatus_back {
	height:200px;
	width:200px;
	position:absolute;
	top:0px;
	right:4px;
	background-color: white;
	opacity: 0.5;
}
#room_actions {
	height:200px;
	width:100%;
	position:relative;
}
#playerActions {
	height:200px;
	width:320px;
	position:absolute;
}
#roomActions {
	height:200px;
	width:300px;
	position:absolute;
	left:325px;
}

.pre {
	/*border: 1px solid black;
	color:black;*/
}
.button {
	font-size: 15pt;
	padding: 4px;
	cursor: pointer;
	text-align: center;
	background-color: #46485E;
	color: black;
	border-radius: 5px;
	border: 1px solid red;
}
.button_flaged {
	font-size: 15pt;
	padding: 4px;
	cursor: pointer;
	text-align: center;
	background-color: #5d0000;
	color: black;
	border: 1px solid red;
	border-radius: 5px;
}
.button:hover {
	background-color: gray;
}

.a_button:link {
    text-decoration: none;
}
.a_button:visited {
	text-decoration: none; 
}
.a_button:active { 
	text-decoration: none; 
}
.a_button:hover {
	text-decoration: none; 
	color: red;	
}
